<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/myStyle.css}"/>
    <link rel="icon" type="image/x-icon" class="text-danger" href="https://static.thenounproject.com/png/1281-200.png">
    <title>Empresa</title>
</head>
<body>
<h1 class="text-white">Interfaz de Empresa</h1>

<nav class="d-flex justify-content-end">
    <ul class="d-flex list-unstyled">
        <li><a class="text-decoration-none text-white font-weight-bold" href="/">Inicio</a></li>
        <li><a class="text-decoration-none text-white font-weight-bold mx-2" href="/empresa">Empresa</a></li>
        <li><a class="text-decoration-none mx-2 text-white font-weight-bold" href="/empleado">Empleado</a></li>
    </ul>
</nav>
<main>
    <div class="m-3">
        <table class="table table-striped">
            <tr class="text-center text-black">
                <th class="text-warning">Nombre</th>
                <th class="text-warning">ID</th>
                <th class="text-warning">Direccion</th>
                <th class="text-warning">Telefono</th>
                <th class="text-warning">NIT</th>
                <th class="text-warning" colspan="2">Actions</th>
            </tr>
            <tr  class="text-center" th:each="empresa : ${empresas}">
                <td class="text-white font-italic" th:text="${empresa.nombre}"></td>
                <td class="text-white" th:text="${empresa.id}"></td>
                <td class="text-white" th:text="${empresa.direccion}"></td>
                <td class="text-white" th:text="${empresa.telefono}"></td>
                <td class="text-white" th:text="${empresa.nit}"></td>
                <td><a th:href="@{/empresa/editar/{id} (id = ${empresa.id})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a th:href="@{/empresa/eliminar/{id} (id = ${empresa.id})}"><i class="fa-solid fa-trash text-danger"></i></a></td>
            </tr>
        </table>
    </div>

    <div style="width: 100%" class="m-3 d-flex justify-content-center">
        <a href="/crear-empresa" class="btn btn-success">Agregar una nueva Empresa</a>
    </div>

</main>
<footer class="blockquote-footer">
    <p class="text-black">Creado Estudiantes ITM</p>
    <p class="text-black">Proyecto integrador</p>
    <p class="text-black"> 2022</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/2a04d2021f.js" crossorigin="anonymous"></script>
</body>
</html>